<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MMRxSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>684FF2A21F00ED5D00F5B57C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>684FF2B61F00ED5D00F5B57C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>684FF2C11F00ED5D00F5B57C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
